
html * {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:wheat;
}

a {
color:green;
}



body {
background-color: #423d29;
}
